# Eclipse
.metadata/
*.classpath
*.project
*.settings/

# Java
*.class
*.log
*.jar
*.war
*.ear

# IDEs
/.idea/
/*.iml
*.iws
*.ipr
*.DS_Store

# Maven
/target/

# VS Code
.vscode/

# SOs
.DS_Store
Thumbs.db

# Outros
.env
